[Desktop Entry]
Name=LightDM QML Greeter
Comment=This is QtQuick Greeter
Exec=lightdm-qtquick-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
